@{
    ViewBag.Title = "Guest attendee";
}

<h2>Welcome stranger</h2>

<div class="text-center">Hi, we will have a greate party and now you have a greate oportunity to attand it. All you need is just one click on button below.</div>
<div class="text-center">
    @Html.ActionLink("Attend", "Reserve", null, new { @class = "btn btn-success" })
</div>


